* {
  margin: 0;
  padding: 0;
}

html {
  height: 101%;
}

body {
  font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

h1 {
  font-family: 'Volkhov', 'Book Antiqua', 'Palatino', sans-serif;
  color: #666666;
  font-weight: 400;
  font-size: 3.1em;
  line-height: .9em;
}

h2 {
  font-family: 'Volkhov', 'Book Antiqua', 'Palatino', sans-serif;
  color: #333333;
  font-weight: 400;
}

p {
  font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 1.35em;
  line-height: 1.75em;
  margin-bottom: 1.65em;
}

/* large desktops and up -----------
@media (min-width: 1400px) {

  body {
    margin: 0;
    padding: 0;
  }

  header {
  }

  header-nav {
    font-family: 'Volkhov', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    max-width: 90%;
  }

  header-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  header-nav li {
    float: left;
    display: inline;
  }

  header-nav a {
    display: block;
    padding: 1em;
  }

  h1 {
    font-family: 'Volkhov', sans-serif;
    font-weight: 700;
    font-size: 3em;
    color: #666666;
    line-height: .9em;
  }

  h2 {
    font-family: 'Volkhov', sans-serif;
    font-weight: 400;
  }

  p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.75em;
    margin-bottom: 1.65em;
  }

  .logo {
    top: 1.5em;
    width: 18%;
  }

  .opening-banner {
    clear:both;
    background: url('../images/plymouth-bay.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 900px;
    display: -webkit-flex;
    display:         flex;
    -webkit-justify-content: center;
          justify-content: center;
    width: 100%:
  }

  .opening-banner h1 {
    text-align: center;
    font-weight: 400;
    font-size: 2.4em;
    margin-top: 64px;
    line-height: 1.65em;
  }

  main {
    background-color: #EBF5FA;
    display: block;
    clear:both;
  }

  .two-col-left {
    clear:both;
    float: left;
    margin-left:15%;
    width: 29%;
    margin-top: 64px;
    position: relative;
    overflow: hidden;
  }

  .two-col-left img {
    width: 100%;
    height: auto;
  }

  .two-col-right {
    width: 36%;
    padding: 32px 0 32px 64px;
    position: relative;
    overflow: hidden;

  }

  }
  footer {
    clear:both;
  }

  .footer {
    clear: both;
    display: block;
  }
}*/
