.home-container {
	margin-top: 4em;
	text-align: center;
}

.home-logo {
	margin: 2em 0;
}

.home-title {
	margin: 0;
}

.home-description {
	color: $secondary-color;
}

.login-form {
	margin: 4rem auto 0 auto;
	width: 50%;
	label {
		text-align: left;
	}
}

.login-actions {
	margin-top: 2rem;
}

.alert {
	color: $error-color;
	font-size: 2rem;
}

.demo-mode {
	margin-top: 3rem;
}