.project-header {
	background: $primary-color;
	padding: 3rem;
	text-align: center;
}

.project-title {
	color: $background;
	&:after {
		content: '';
		display: block;
		width: 200px;
		margin: 1rem auto 0 auto;
		background-color: #ffffff;
		height: 1px
	}
}

.project-subtitle {
	margin-bottom: 0;
	color: $light-grey;
}

.project-intro {
	padding-top: 4rem;
}