#cd-timeline {
	position: relative;
	padding: 2em 0;
	margin: {
		top: 1em;
		bottom: 1em;
	}

	&::before {
		/* this is the vertical line */
		content: '';
		position: absolute;
		top: 0;
		left: 18px;
		height: 100%;
		width: 1px;
		background-color: $primary-color;
	}

	@media (#{$bp-larger-than-desktop}) {
		margin: {
			top: 2em;
			bottom: 2em;
		}

		&::before {
			left: 50%;
			margin-left: -2px;
		}
	}
}

.cd-timeline-block {
	position: relative;
	margin: 2em 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	@media (#{$bp-larger-than-desktop}) {
		margin: 4em 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.cd-timeline-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 0 0 1px $primary-color;
	background-color: $background;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 20px 20px;

	@media (#{$bp-larger-than-desktop}) {
		width: 60px;
		height: 60px;
		left: 50%;
		margin-left: -30px;
		background-size: 30px 30px;
	}
}

.cd-icon-email {
	background-image: url(../img/mail-inbox.svg);
}

.cd-icon-calendar {
	background-image: url(../img/calendar-2.svg);
}

.cd-icon-pencil {
	background-image: url(../img/pencil-2.svg);
}

.cd-icon-eye {
	background-image: url(../img/preview-2.svg);
}

.cd-icon-hand {
	background-image: url(../img/hand-block.svg);
}

.cd-icon-design {
	background-image: url(../img/stationery-1.svg);
}

.cd-icon-star {
	background-image: url(../img/star-1.svg);
}

.cd-icon-thumb {
	background-image: url(../img/hand-like-2.svg);
}

.cd-icon-comment {
	background-image: url(../img/bubble-comment-1.svg);
}

.cd-icon-conversation {
	background-image: url(../img/bubble-conversation-5.svg);
}

.cd-icon-phone {
	background-image: url(../img/phone-2.svg);
}

.cd-icon-user {
	background-image: url(../img/user-1.svg);
}

.cd-icon-receipt {
	background-image: url(../img/receipt-3.svg);
}

.cd-icon-photo {
	background-image: url(../img/photo-2.svg);
}

.cd-icon-video {
	background-image: url(../img/film-2.svg);
}

.cd-icon-sound {
	background-image: url(../img/music-note-3.svg);
}

.cd-icon-clipboard {
	background-image: url(../img/clipboard-1.svg);
}

.cd-icon-file {
	background-image: url(../img/file-1.svg);
}

.cd-icon-document {
	background-image: url(../img/document-1.svg);
}

.cd-icon-graph {
	background-image: url(../img/file-graph-1.svg);
}

.cd-icon-check {
	background-image: url(../img/check-4.svg);
}

.cd-icon-gear {
	background-image: url(../img/setting-gear.svg);
}

.cd-icon-alert {
	background-image: url(../img/alert-2.svg);
}

.cd-icon-clock {
	background-image: url(../img/clock-3.svg);
}

.cd-icon-presentation {
	background-image: url(../img/board.svg);
}

.cd-icon-chart {
	background-image: url(../img/business-chart-1.svg);
}

.cd-icon-money {
	background-image: url(../img/money.svg);
}

.cd-icon-pin {
	background-image: url(../img/marker-1.svg);
}

.cd-icon-building {
	background-image: url(../img/building-2.svg);
}

.cd-icon-globe {
	background-image: url(../img/globe-2.svg);
}

.cd-icon-code {
	background-image: url(../img/window-code-3.svg);
}

.cd-icon-mouse {
	background-image: url(../img/mouse-2.svg);
}

.cd-icon-computer {
	background-image: url(../img/screen-4.svg);
}

.cd-icon-smartphone {
	background-image: url(../img/smartphone.svg);
}

.cd-icon-server {
	background-image: url(../img/server-2.svg);
}

.cd-icon-book {
	background-image: url(../img/book-6.svg);
}

.cd-icon-drawer {
	background-image: url(../img/drawer-1.svg);
}

.cd-icon-hierarchy {
	background-image: url(../img/hierarchy-6.svg);
}

.cd-icon-lightbulb {
	background-image: url(../img/lightbulb-2.svg);
}

.cd-icon-scale {
	background-image: url(../img/scale.svg);
}

.cd-icon-layout {
	background-image: url(../img/arrange-3-5.svg);
}

.cd-icon-experiment {
	background-image: url(../img/beaker-1.svg);
}

.cd-icon-travel {
	background-image: url(../img/plane-2.svg);
}

.cd-timeline-content {
	position: relative;
	margin-left: 60px;
	background-color: $light-grey;
	border: 1px solid $primary-color;
	@include clearfix;

	.cd-timeline-body {
		padding: 1em;
	}

	.cd-timeline-title {
		color: $light-grey;
		margin-bottom: 0;
		background-color: $primary-color;
		padding: 10px 1em;
	}

	.cd-actions {
		text-align: center;
	}

	.cd-read-more, .cd-date {
		display: inline-block;
	}

	.cd-read-more {
		margin: 4px 0;
	}

	.cd-date {
		padding: 0 0 0 24px;
		margin: 0 0 1em 0;
		text-transform: uppercase;
		font-size: 1.2rem;
		line-height: 18px;
		color: $secondary-color;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 18px 18px;
		background-image: url(../img/clock-3.svg);
	}

	&::before {
		content: '';
		position: absolute;
		top: 14px;
		right: 100%;
		height: 0;
		width: 0;
		border: 7px solid transparent;
		border-right: 7px solid $primary-color;
	}

	@media (#{$bp-larger-than-desktop}) {
		margin-left: 0;
		width: 45%;

		&::before {
			top: 18px;
			left: 100%;
			border-color: transparent;
			border-left-color: $primary-color;
		}

		.cd-timeline-body {
			padding: 1.6em;
		}

		.cd-actions {
			text-align: center;
		}

		.cd-date {
			position: absolute;
			width: 100%;
			left: 122%;
			top: 6px;
			font-size: 1.4rem;
			margin: 1em 0 0 0;
			background-image: none;
			padding: 0;
		}

		.cd-timeline-block:nth-child(even) & {
			float: right;

			&::before {
				top: 18px;
				left: auto;
				right: 100%;
				border-color: transparent;
				border-right-color: $primary-color;
			}

			.cd-actions {
				text-align: center;
			}

			.cd-date {
				left: auto;
				right: 122%;
				text-align: right;
			}
		}

		.cssanimations &.is-hidden {
			visibility: hidden;
		}

		.cssanimations &.bounce-in {
			visibility: visible;
			@include animation(cd-bounce-2 .6s);
		}
	}
}

@media (#{$bp-larger-than-desktop}) {
	/* inverse bounce effect on even content blocks */
	.cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
		@include animation(cd-bounce-2-inverse .6s);
	}
}

@include keyframes(cd-bounce-2) {
	0% {
		opacity: 0;
		@include transform(translateX(-100px));
	}

	60% {
		opacity: 1;
		@include transform(translateX(20px));
	}

	100% {
		@include transform(translateX(0));
	}
}

@include keyframes(cd-bounce-2-inverse) {
	0% {
		opacity: 0;
		@include transform(translateX(100px));
	}

	60% {
		opacity: 1;
		@include transform(translateX(-20px));
	}

	100% {
		@include transform(translateX(0));
	}
}