@media only screen and (max-width: 9000px) {
  .header-nav {
    font-family: 'Volkhov', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    max-width: 97%;
    position: relative;
  }

  .header-nav-logo {
    /* width: 18%; */
    /* clear: both; */
    float: left;
    margin-left: 9%;
    position: absolute;
    margin-top: px;
    /* overflow: hidden; */
  }

  #header-nav-ul ul {
    list-style-type: none;
    list-style:none;
    padding-left: 35%;
    padding-top: 1.65em;
    display: flex;
  }

  #header-nav-ul ul li {
    display: inline;
    margin:0;
  }

  #header-nav-ul ul li a {
    text-decoration: none;
    padding: .85em 1.45em 1.5em 1.45em;
    background-color: white;
    border-left: 1px solid #07C6EB;
    border-top: 1px solid #07C6EB;
    border-right: 1px solid #07C6EB;
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
  }

  #header-nav-ul ul li a:hover {
    background-color: #07C6EB;
  }
  
  .image-banner {
    clear:both;
    background: url('../images/plymouth-bay.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 567px;
    display: -webkit-flex;
    display:         flex;
    -webkit-justify-content: center;
          justify-content: center;
    width: 100%;
    margin-top: 1.65em;
  }

  /*.fade-in-gradient {
    width: 100%;
    background-image: url("../images/white-gradient.png");
    background-repeat: repeat-x;
  }*/

  .opening-banner h1 {
    text-align: center;
    font-weight: 400;
    font-size: 2.4em;
    margin-top: 64px;
    line-height: 1.65em;
  }

  .image-banner-2 {
    clear:both;
    background: url('../images/patient-resources.jpg') no-repeat top right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;
    display: -webkit-flex;
    display:         flex;
    -webkit-justify-content: center;
          justify-content: center;
    width: 100%;
    margin-top: 1.65em;
  }

  main {
    background-color: #EBF5FA;
    display: block;
    clear:both;
    overflow: auto;
  }

  .two-col-left {
    float: left;
    margin-left: 11.5%;
    width: 31.5%;
    margin-top: 64px;
  }

  .testimonials {
    font-family: 'Volkhov', sans-serif;
    font-weight: 400;
    color: #07C6EB;
    font-size: 1.42em;
    padding: 42px 0 42px 0;
  }

  .two-col-left img {
    width: 100%;
    height: auto;
  }

  .two-col-right {
    width: 37%;
    padding: 32px 0 32px 96px;
    position: relative;
    overflow: hidden;

  }

  /*.full-width {
    clear: both;
    max-width: 990px;
    margin: 0 auto;*/

  }
  footer {
    clear:both;
  }

  .footer {
    clear: both;
    display: block;
    background-color: #2C3F53;
  }
}

@media only screen and (max-width: 740px) {
  h1 {
    font-size: 1em;
  }

  p {
    font-size: 1.19em;
  }
}

@media only screen and (max-width: 570px) {
  h1 {
    font-size: 2.6em;
  }

  p {
    font-size: 1.2em;
    font-weight: 300;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2.2em;
  }

  p {
    font-size: 1em;
    font-weight: 400;
  }

  .image-banner-2 {
    height: 250px;
  }
}

@media only screen and (max-width: 320px) {

  h1 {
    font-size: 1.5em;
  }

  .image-banner-2 {
    height: 100px;
  }
}

/** iPhone only **/
@media screen and (max-device-width: 480px) {
  .image-banner-2 {
    height: 100px;
  }
}
