/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Typography
- Grid
- Base Styles
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

* {
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

html {
  height: 900px;
}


/* typography -------------------*/
body {
  font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

h1, h2, h3, h4, h5, h6, nav {
  font-family: 'Volkhov', 'Book Antiqua', 'Palatino', sans-serif;
}

h1 {
  color: #666666;
  font-size: 2.827em;
  font-weight: 400;
  letter-spacing: -.4px;
}

@media (min-width: 450px) {
  h1 {
    color: #666666;
    font-size: 3.998em;
    font-weight: 400;
  }
}

h2 {
  font-size: 24px;
  letter-spacing: 0;
}

@media (min-width: 450px) {
  h2 {
  font-size: 2.827em;
  letter-spacing: 0;
  }
}

h3 {
  font-size: 22px;
  letter-spacing: 0;
  font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;  
}

@media (min-width: 450px) {
  h3 {
  font-size: 1.999em;
  letter-spacing: 0;
  }
}

h4 {
  font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;  
  font-size: 22px;
  font-weight: 500;
}

h5 {
  font-size: 20px;
  font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-weight: 300;
}

p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
}

@media (min-width: 300px) {
  p {
    font-size: 18px;
    font-weight: 300;
    color: #333;
    letter-spacing: 0;
  }
}

@media (min-width: 500px) {
  p {
    font-size: 20px;
    font-weight: 300;
    color: #333;
    letter-spacing: 0;
  }
}

@media (min-width: 600px) {
  p {
    font-size: 20px;
    font-weight: 300;
    color: #333;
    letter-spacing: 0;
  }
}

.meta-p {
  color: #555;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}

/*p::first-letter {
  font-weight: 500;
  font-size: 32px;
}*/


/* typography - font weight classes --------*/
.regular {
  font-weight: 400;
}

.semi-bold {
  font-weight: 700;
}

.bold {
  font-weight: 900;
}

/* typography - font size classes ----------*/
.h1-size-down {
  font-size: 2.827em;
}

/* centering  -----------------------*/
.center {
  text-align: center;
  margin: auto;
}

.background h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.background h2:before, .background h2:after {
  background-color: #ddd;
  content: '\a0';
  flex-grow: 1;
  height: 1px;
  position: relative;
  top: 0.5em;
}
.background h2:before {
  margin-right:10px;
}
.background h2:after {
  margin-left:10px;
}

/* list ul li elements --------------------------*/
ul {
  font-size: 16px;
  margin: 0 0;
}

ul ul {
  font-size: 16px;
}

li {
  font-size: 18px;
}
/* svg objects ---------------------------*/
.svg {

}

@media (min-width: 450px) {
  a.svg {
   position: relative;
   display: inline-block;
  }

  a.svg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
  }

  object {
    width: 100%;
  }
}

/* navigation container -------------*/
.container-nav {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: 400px){
  .container-nav {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
  }
}

@media (min-width: 1180px){
  .container-nav {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;
  }
}

/* navigation top spacing ----------------------------*/
nav.primary {
  margin-top: 16px;
}

nav.primary ul {
  display: none;
}

/* nav on smaller browser tablets ---------------*/
@media (min-width: 600px) {

  nav.primary ul,
  nav.primary ul li {
    margin: 0px;
  }

  nav.primary ul {
    display:block;
    float: right;
  }

  nav.primary li {
    float: left;
  }

  nav.primary ul li {
    display:inline;
    position: relative;
  }

  .menu {
    margin-top: 12px;
  }

  nav.primary ul li a:hover {
    background-color: #07C6EB;
    cursor: pointer;
  }

  nav.primary ul li a {
    display: inline-block;
    color: #07C6EB;
    padding: 8px 20px 8px 20px;
    /* font-size: 18px; */
    text-decoration: none;
    /* border: 1px solid #999; */
    /* border-left: 1px solid #999; */
    /* border-top: 1px solid #999; */
    border-right: 1px solid #999;
    /* border-top-left-radius: 8px; */
    /* border-top-right-radius: 8px; */
    /* border-radius: 8px; */
  }
}

/* nav on regular laptop/desktops ---------------*/
@media (min-width: 1245px) {
  nav.primary ul li a {
    display: inline-block;
    font-size: 16px;
    padding: 12px 24px 16px 24px;
    text-decoration: none;
    border-left: 1px solid #999;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}

/* mobile navigation -------------------*/
#mobile-nav ul li a {
    display: block;
    padding: 12px 8px;
    border-bottom: 1px solid #ccc;
  font-size: 20px;
    text-decoration: none;
    text-align: center;
    margin: 0;
}

li {
  margin: 0;
      list-style: none;

}
.anchor-link {
    text-align: center;
    padding: 10px 15px;
    color: #fff;
    background-color: #0084B4;
    text-decoration: none;
    float: right;
    box-sizing: border-box;
  }


@media (min-width: 600px) {
  .anchor-link { display: none; }
}

/* if not on mobile ----------------------*/
@media all and (min-width:48em){

	nav ul li { display: block; }
	#mobile-nav { display: none; }
}

/* bottom navigation ---------------------*/
div .container .secondary {
  color: red;
  background-color: red;
  /*
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
box-sizing: border-box; */}

.bottom-nav {
    font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    display: inline-block;
    height: 40px;
    padding: 0 32px;
    color: #555;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

@media (min-width: 450px) {
  .bottom-nav{
    font-size: 14px;
  }
}

.bottom-nav a:link{
    text-decoration: none;
}

/* column changes -----------------------------*/
.one.column.anchor-link{
  width: auto;
}

/* navigation columns -------------------------------*/
/* this class will break down into halves ; 
use for logo or multiple images on one line mobile*/
.flex-2.columns {
    width: 58%;
}

@media (min-width: 400px){
  .flex-2.columns {
    width: 47%;
  }
}

@media (min-width: 600px){
  .flex-2.columns {
    width: 32%;
  }
}

@media (min-width: 700px){
  .flex-2.columns {
    width: 20%;
  }
}

  @media (min-width: 1000px){
  .flex-2.columns {
    width: 18%;
  }
}

/* use for flexible primary navigation */
.flex-nav.columns {
  width: 100%;
}

@media (min-width: 400px){
  .flex-nav.columns {
    width: 72%;
  }
}

@media (min-width: 600px){
  .flex-nav.columns {
    width: 100%;
  }
}

@media (min-width: 700px){
  .flex-nav.columns {
    width: 100%;
  }
}

@media (min-width: 1000px){
.flex-nav.columns {
  width: 77%;
  }
}

@media (min-width: 1100px){
.flex-nav.columns {
  width: 75%;
  }
}

/* full width style --------------------------*/
.full-width {
  clear:both;
  width: 100%;
  max-width: none;
}

/* home banner -----------------------*/
.opening-text {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0em;
  margin-top: 37px;
  line-height: 1.55em;
}

@media (min-width: 450px) {
  .opening-text {
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0em;
    margin-top: 37px;
    line-height: 1.55em;
  }
}

.banner-home {
  height: 300px;
  background: url('../images/plymouth-bay.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display:         flex;
  -webkit-justify-content: center;
        justify-content: center;
  margin-top: -4px;
}

@media (min-width: 450px) {
  .banner-home {
    height: 449px;
    background: url('../images/plymouth-bay.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: -webkit-flex;
    display:         flex;
    -webkit-justify-content: center;
          justify-content: center;
    margin-top: -4px;
  }
}


.gradient-top {
  height: 80px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */
}

@media (min-width: 400px){
  .gradient-top {
    height: 100px;}
}

.gradient-bottom {
  height: 40px;
  margin-top:-32px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

@media (min-width: 400px){
  .gradient-bottom {
    height: 70px;
  }
}
@media (min-width: 1400px){
  .gradient-bottom {
    margin-top:0;
  }
}

main.bg-color {
  margin-top: -4px;
  background: none;
  background-color: rgb(235, 245, 250);
  overflow-x: auto;
}

.bg-color-2 {
  background: none;
  background-color: white;
  overflow-x: auto;
}

.bg-color-blue {
  background: none;
  background-color: #07C6EB;
  overflow-x: auto;
}

.value-props-32{
  padding-top: 32px;
  padding-bottom: 32px;
}

.value-props-32-top {
  padding-top: 32px;
}

.value-props-32-bottom{
  padding-bottom: 32px;
}

.value-props-40{
  padding-top: 40px;
  padding-bottom: 40px;
}

.value-props-48{
  padding-top: 48px;
  padding-bottom: 48px;
}

.value-props-48-top{
  padding-top: 48px;
}

.value-props-48-bottom{
  padding-bottom: 48px;
}

.float-right {
  float: right;
}

footer .button{
  white-space:normal;
}
footer.bg-color {
  background: none;
  background-color: #2C3F53;
  overflow-x: auto;
  font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

footer img {
/* margin-top: -20px;
  margin-bottom: 8px;*/
  padding-right: 104px;

}

footer header {
  font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 18px;
  margin-bottom: 16px;
}

@media (min-width: 400px){
  footer header {
    font-size: 20px;
  }
}

footer p {
  font-size: 14px;
}

@media (min-width: 400px){
  footer p {
    font-size: 16px;
  }
}

footer div .columns {
  border-right: 0;
  border-bottom: 1px dotted white;
  padding-right: 16px;
}

@media (min-width: 600px) {
  footer div .columns {
    border-right: 1px solid white;
    border-bottom: 0;
  }
}

footer div .columns.no-border {
  border-right: none;
}

.blue {
  color: #07C6EB;
}

.white {
  color: white;
}

/* Responsive Google Maps*/
.google-maps

/* container 2 ----------------------*/
.container-2 {
  position: relative;
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container-2 {
    width: 85%;
  /*padding: 0; */}
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container-2 {
    width: 80%; }
}

/* blockquote -----------------------*/

.blockquote p{
  font-size: 18px;}

.blockquote {
  text-align: center;
  font-family: 'Volkhov', 'Book Antiqua', 'Palatino', sans-serif;
  font-weight: 100;
  margin-left: 3rem;
  margin-right: 3rem;
  position: relative;
}

.blockquote::before {
  content: "\201C";
  /*Unicode for Left Double Quote*/
  font-size: 5rem;
  position: absolute;
  top: -1.125rem;
  left: -2.25rem;
}

.blockquote::after {
  content: "\201D";
  /*Unicode for Left Double Quote*/
  font-size: 5rem;
  position: absolute;
  bottom: -3.75rem;
  right: -1.5rem;
}

.blockquote cite {
  font-size: 16px;
  font-weight: italic;
  text-align: right;
}

.blockquote cite::before {
  content: "\2014\2002";
  /*Unicode for em dash and space*/
}

@media (min-width: 400px) {
  .blockquote p{
    font-size: 22px;}
}

@media (min-width: 600px) {
  .blockquote p{
    font-size: 28px;}
}

/* top and bottom divider ------------------*/
.top-divider {
  border-top: 1px solid grey;
}

.bottom-divider {
  border-bottom: 1px solid grey;
}


/* buttons ---------------------*/
.button a p {
  font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  display: inline-block;
  padding: 0 32px;
  color: #555;
  text-align: center;
  font-size: 12px;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  /* break word */
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  display:block;
  text-decoration: none;
}

.button-blue {
  font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  display: inline-block;
  padding: 0 32px;
  color: #2C3F53;
  text-align: center;
  font-size: 12px;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: white;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  box-sizing: border-box;
  /* break word */
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* center button -----------------------*/
p.button.center {
  /* margin: 0 auto; */
  display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 250px;
}

/* links --------------------*/
a {
  /* break word */
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* full height ------------------------*/
.u-max-full-height {
  max-height: 100%;
  box-sizing: border-box; }

/* mobile hidden / display none ---------------------------*/
.mobile-hidden {
  display: none;
}

@media (min-width: 1100px) {
  .mobile-hidden {
    display: inherit;
  }
}
